

/*
 Este es un comentario en HTML 
.btn-success{
  float: right;
}

.col-4{
  
  padding-left: 4px;
  padding-right: 4px;
}
.nav-link.bg-secondary, .nav-item.dropdown{

  color: white;
}
.card-img{
  padding-bottom: 9px;
}
/*/


.btn-success{
  float: right;
}
.card-img-top{
  padding-bottom: 0px;
}
.rgt{
  float: right;
}
 .asd{    
  width: 49px
  }

 .nav.row.col-12{
  margin-left: 0px;

 }
 .bi{
  padding-top: 0px;
 }
 .navbar-brand{
  padding-top: 0px;
 }
 .btn.btn-secondary{
  float: right;
 }
