 * {
  border: 1px solid red;
}


/*
 Este es un comentario en HTML 
.btn-success{
  float: right;
}
.rgt{
  float: right;
}
 
.col-4{
  
  padding-left: 4px;
  padding-right: 4px;
}
.nav-link.bg-secondary, .nav-item.dropdown{

  color: white;
}
.card-img{
  padding-bottom: 9px;
}
/*/


.btn-success{
  float: right;
}
.card-img-top{
  padding-bottom: 0px;
}